$border-light: 1px solid #ddd;
$large: 2vw;
$mg-sm: 2vw;
$lite: #aaa;
$header-font: "Raleway", sans-serif;
$pink-light: #ffa5de;
$pink-dark: #894b72;
$danger: #ff5959;

//Mixins

@mixin basic-btn {
  ouline: none;
  border: none;
  background: transparent;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//GLOBAL STYLES

body {
  height: 100%;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: $lite;
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

//NAVBAR

.navbar {
  display: flex;
  justify-content: center;
  border: $border-light;
  width: 100vw;
  margin-bottom: 5vh;
}

.navbar h1 {
  font-size: $large;
  color: $lite;
}

#facetune-title {
  font-family: "Norican", cursive;
  color: $pink-light;
}
#fails-title {
  font-family: "Permanent Marker", cursive;
  color: $pink-dark;
}

.navbar div {
  position: absolute;
  right: 0;
}

.navlink {
  margin: 2vw;
}

.navbar a {
  color: $lite;
  &:hover {
    color: #000;
  }
}

.navbar ul {
  position: absolute;
  right: 0;
  text-decoration: none;
}

.navbar li {
  display: inline;
  text-align: right;
  text-decoration: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 8vw;
  height: 90%;
  margin-top: 3px;
  cursor: pointer;
}
.dropbar {
  z-index: 1;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #555;
  border-radius: 3px;
}

.dropdown-container {
  position: relative;
  top: 42px;
  width: 25%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-start;
  opacity: 0;
  transition: all 0.4s;
  // border: $border-light;
}

.dropdown-shown {
  opacity: 1;
  transition: all 0.4s;
}

.dropdown-container li {
  width: 100%;
  display: block;
  border: $border-light;
  margin: 2px 0;
  padding: 1vw;
  &:hover {
    transform: scale(1.1);
  }
}

.dropdown-container li:first-child {
  border-top: none;
}

.hidden {
  opacity: 0;
  transition: transform 0.4s;
}

.bar-1-open {
  transform: translate(0px, 14px) rotate(45deg);
  transition: all 0.4s;
  background: $pink-light;
}
.bar-3-open {
  transform: translate(0px, -10px) rotate(-45deg);
  transition: all 0.4s;
  background: $pink-light;
}

//FORMS

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 1vh;
  border-radius: 20px;
}

.form-check {
  margin: 1.5vw;
  position: relative;
  transform: translateX(50%);
}

.form-btn {
  display: block;
  border: $border-light;
  border-radius: 20px;
  width: 20vw;
  color: white;
  background: #222;
  transform: translateX(10px);
  &:hover {
    background: white;
  }
}

//LOGIN & REGISTER

.login-reg-container {
}

//POSTS

.post {
  border-bottom: $border-light;
}

.post-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15vh;
  // align-items: center;
  // background: pink;
}

.large {
  margin: $mg-sm 0;
}

.post-body {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
}

.post-body-open {
  // background: pink;
  width: 75%;
  margin-bottom: 20vh;
}

.new-post {
  margin: 10vh 0 15vh;
  width: 80%;
}

.blog-text {
  width: 80%;
  white-space: pre-wrap;
  font-family: Georgia, serif;
  font-size: 16px;
}

.header-link {
  width: max-content;
}

.post-header {
  font-size: 1.5vw;
  color: #000;
  font-family: $header-font;

  &:hover {
    color: $lite;
    text-decoration: underline;
    cursor: pointer;
  }
}

.post-header-open {
  margin-bottom: 3vh;
  font-family: $header-font;
}

.post-details {
  font-size: 1vw;
  color: $lite;
}

.post-img-link {
  display: flex;
  justify-content: center;
  margin: 3vh;
}

.post-img {
  width: 75%;
}

.post-img-open {
  width: 50%;
}

.post-text {
  margin: $mg-sm;
  color: #000;
  font-family: Georgia, serif;
}

.score-container {
  text-decoration: none;
  margin: 12vh 0 15vh 0;
  padding: 5vh 0 10vh 0;
  border-bottom: 1px solid $lite;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.scores-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.score-btn {
  // border: 0;
  width: 2vw;
  height: 5vh;

  cursor: pointer;
  opacity: 0;
  z-index: 1;
  padding: 2vw;
  &:checked ~ .rd-selected {
    background: $pink-light;
  }
  &:checked ~ .rd-selected:after {
    display: block;
  }
  &:active ~ .rd-selected {
    background: $pink-dark;
    transform: scale(0.9);
    transition: all 0.5s;
  }
}

.rd-selected {
  // display: none;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vw;
  width: 6vw;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #ccc;
  &:hover {
    background: #ccc;
    border: 1px solid #eee;
  }
}

.score-label {
  z-index: 1;
  font-family: "Permanent Marker", cursive;
  font-size: 2vw;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-btn {
  border: $border-light;
  border-radius: 15px;
  margin: $mg-sm;
  padding: 1vw 2vw;
  font-size: 16px;
  color: $lite;
}

#next-btn {
  display: flex;
  justify-self: flex-end;
}

.post-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -6.5vh;
  z-index: 1;
}

.new-edit-btn {
  transform: translateY(-10px);
}

.post-btn {
  @include basic-btn();
  width: 5%;
  padding: 0;
  transform: translateY(50%);
}

.btn-edit-delete {
  margin: 3vw;
}

//COMMENTS

.comment-item {
  width: 100%;
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
}

.comment-header {
  font-family: $header-font;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.comment-header p {
  font-family: $header-font;
  margin: 0 1vw 0 0;
}

.date {
  font-size: 14px;
}

.comment-text {
  color: #555;
  font-family: Georgia, serif;
}

.comment-area {
  // max-height: 10vh;
  // overflow: auto;
  // min-height: 3vh;
  // max-height: 10vh;
}

.reply-area {
}

.heart-btn {
  @include basic-btn();
}

.fa-heart {
  color: $pink-light;
}

.delete-btn {
  @include basic-btn();
}

//SUBCOMMENTS

.sub-comment-list {
  border-left: $lite 1px solid;
}

.sub-comment-item {
}

.sub-comment-container {
  padding: 1vw;
}

.show-hide-btn {
  @include basic-btn();
}

//FOOTER

footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: $border-light;
  background: #fff;
}

footer p {
  margin: $mg-sm;
  color: $lite;
  &:hover {
    color: #000;
    cursor: pointer;
  }
}

//ALERTS

.alert {
  width: 100%;
  border-radius: 20px;
}

.alert-danger {
  background: $danger;
}

.error-input {
  border: solid 1px $danger;
}

//MEDIA QUERIES

@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .navbar h1 {
    margin: 1vh 1vh 1vh -1vh;
    padding: 2vw;
    font-size: 5vw;
  }

  .navlink {
    font-size: 4vw;
  }
  .post-container {
    width: 100%;
    margin-left: 1vw;
  }

  .post-body-open {
    width: 100%;
  }

  .post-header {
    font-size: 6vw;
  }
  .post-details {
    font-size: 4vw;
  }

  .post-img {
    // width: 90%;
    width: auto;
    max-height: 300px;
    height: auto;
  }

  .post-btn {
    width: 20%;
    transform: translate(20px, 16px);
  }

  .post-text {
    font-size: 16px;
  }

  .score-container {
    width: 100%;
    margin: 5vh 0 5vh 0;
  }

  .score-btn {
  }

  .rd-selected {
    height: 8vw;
    width: 8vw;
  }

  .score-label {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 875px) {
  .navbar {
    justify-content: flex-start;
  }
}
