$border-light: 1px solid #ddd;
$large: 2vw;
$mg-sm: 2vw;
$lite: #aaa;
$header-font: "Raleway", sans-serif;
$pink-light: #ffa5de;
$pink-dark: #894b72;

//Mixins

@mixin basic-btn {
  ouline: none;
  border: none;
  background: transparent;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//GLOBAL STYLES

body {
  height: 100%;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: $lite;
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

//NAVBAR

.navbar {
  display: flex;
  justify-content: center;
  border: $border-light;
  width: 100vw;
  margin-bottom: 5vh;
}

.navbar h1 {
  font-size: $large;
  color: $lite;
}

#facetune-title {
  font-family: "Norican", cursive;
  color: $pink-light;
}
#fails-title {
  font-family: "Permanent Marker", cursive;
  color: $pink-dark;
}

.navbar div {
  position: absolute;
  right: 0;
}

.navlink {
  margin: 2vw;
}

.navbar a {
  color: $lite;
  &:hover {
    color: #000;
  }
}

.navbar ul {
  position: absolute;
  right: 0;
  text-decoration: none;
}

.navbar li {
  display: inline;
  text-align: right;
  text-decoration: none;
}

//FORMS

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 1vh;
}

.form-check {
  margin: 1.5vw;
  position: relative;
  transform: translateX(50%);
}

.form-btn {
  display: block;
  border: $border-light;
  width: 15vw;
  color: white;
  background: #222;
  &:hover {
    background: white;
  }
}

//POSTS

.post {
  border-bottom: $border-light;
}

.post-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15vh;
  // background: pink;
}

.large {
  margin: $mg-sm 0;
}

.post-body {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
}

.post-body-open {
  // background: pink;
  width: 75%;
  margin-bottom: 20vh;
}

.new-post {
  margin: 10vh 0 15vh;
  width: 80%;
}

.blog-text {
  width: 80%;
  white-space: pre-wrap;
  font-family: $header-font;
}

.header-link {
  width: max-content;
}

.post-header {
  font-size: $large;
  color: #000;
  font-family: $header-font;

  &:hover {
    color: $lite;
    text-decoration: underline;
    cursor: pointer;
  }
}

.post-header-open {
  margin-bottom: 3vh;
  font-family: $header-font;
}

.post-details {
  font-size: 1vw;
  color: $lite;
}

.post-img-link {
  display: flex;
  justify-content: center;
  margin: 3vh;
}

.post-img {
  width: 75%;
}

.post-img-open {
  width: 50%;
}

.post-text {
  margin: $mg-sm;
  color: #000;
  font-family: $header-font;
}

.score-container {
  text-decoration: none;
  margin: 12vh 0 15vh 0;
  padding: 5vh 0 10vh 0;
  border-bottom: 1px solid $lite;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.scores-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.score-btn {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  padding: 2vw;
  &:checked ~ .rd-selected {
    background: $pink-light;
  }
  &:checked ~ .rd-selected:after {
    display: block;
  }
}

.rd-selected {
  cursor: pointer;
  position: absolute;
  top: -13px;
  left: -18px;
  height: 50px;
  width: 50px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #ccc;
  &:hover {
    background: #ccc;
    border: 1px solid #eee;
  }
}

.score-label {
  z-index: 1;
  transform: translate(-15px, 0px);
  font-family: "Permanent Marker", cursive;
}

#score-10-label {
  transform: translate(-18px, 0px);
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-btn {
  border: $border-light;
  border-radius: 15px;
  margin: $mg-sm;
  padding: 1vw 2vw;
  font-size: 1vw;
  color: $lite;
}

#next-btn {
  display: flex;
  justify-self: flex-end;
}

.post-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -6vh;
  z-index: 1;
}

.new-edit-btn {
  transform: translateY(-10px);
}

.post-btn {
  @include basic-btn();
  width: 5%;
  padding: 0;
  transform: translateY(50%);
}

.btn-edit-delete {
  margin: 3vw;
}

//COMMENTS

.comment-item {
  width: 100%;
  margin: 5vh 0;
}

.comment-header {
  font-family: $header-font;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.comment-header p {
  font-family: $header-font;
  margin: 0 1vw 0 0;
}

.comment-text {
  color: #555;
  font-family: $header-font;
}

.heart-btn {
  @include basic-btn();
}

.fa-heart {
  color: $pink-light;
}

.delete-btn {
  @include basic-btn();
}

//SUBCOMMENTS

.sub-comment-list {
  border-left: $lite 1px solid;
}

.sub-comment-item {
}

.sub-comment-container {
  padding: 1vw;
}

.show-hide-btn {
  @include basic-btn();
}

//FOOTER

footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: $border-light;
  background: #fff;
}

footer p {
  margin: $mg-sm;
  color: $lite;
  &:hover {
    color: #000;
    cursor: pointer;
  }
}

//MEDIA QUERIES

@media only screen and (max-width: 400px) {
  .navbar h1 {
    margin: 1vh 1vh 1vh -1vh;
    padding: 2vw;
    font-size: 3.5vw;
    border-right: $lite 1px solid;
  }
  .post-container {
    width: 90%;
  }

  .post-body-open {
    width: 100%;
  }

  .post-header {
    font-size: 6vw;
  }
  .post-details {
    font-size: 4vw;
  }

  .post-img {
    width: 100%;
  }

  .post-btn {
    width: 10%;
  }

  .score-container {
    width: 60%;
    margin: 5vh 0 5vh 0;
    // background: pink;
  }

  .rd-selected {
    margin: 2.5vw;
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: 875px) {
  .navbar {
    justify-content: flex-start;
  }
}
