$border-light: 1px solid #ddd;
$large: 3vw;
$mg-sm: 2vw;
$lite: #aaa;

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

//GLOBAL STYLES

body {
  height: 100%;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  color: $lite;
}

textarea {
  resize: none;
}

.navbar {
  display: flex;
  justify-content: center;
  border: $border-light;
  width: 100vw;
}

.navbar h1 {
  font-size: $large;
  color: $lite;
}

.navbar div {
  position: absolute;
  right: 0;
}

.navlink {
  margin: 2vw;
}

.navbar a {
  color: $lite;
  &:hover {
    color: #000;
  }
}

.navbar ul {
  position: absolute;
  right: 0;
  text-decoration: none;
}

.navbar li {
  display: inline;
  text-align: right;
  text-decoration: none;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 1vh;
}

.form-check {
  margin: 1.5vw;
  position: relative;
  transform: translateX(50%);
}

.form-btn {
  display: block;
  border: $border-light;
  width: 15vw;
  color: white;
  background: #222;
  &:hover {
    background: white;
  }
}

.post {
  border-bottom: $border-light;
}

.post-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15vh;
}

.large {
  margin: $mg-sm 0;
}

.post-body {
  margin: 15vh 0;
}

.new-post {
  margin: 10vh 0 15vh;
}

.blog-text {
}

.post-header {
  font-size: $large;
  color: $lite;
  &:hover {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
}

.post-details {
  font-size: 1.5vw;
  color: $lite;
}

.post-img {
  width: 110%;
}

.post-text {
  margin: $mg-sm;
}

.score-container {
  margin: 12vh 0 25vh 0;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-btn {
  border: $border-light;
  border-radius: 15px;
  margin: $mg-sm;
  padding: 1vw 2vw;
  font-size: 1vw;
  color: $lite;
}

#next-btn {
  display: flex;
  justify-self: flex-end;
}

.post-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -7vh;
  z-index: 1;
}

.post-btn {
  background: none;
  width: 10%;
  border: none;
}

.comment-item {
  width: 100%;
  margin: 5vh 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: $border-light;
  background: #fff;
}

footer p {
  margin: $mg-sm;
  color: $lite;
  &:hover {
    color: #000;
    cursor: pointer;
  }
}

@media only screen and (max-width: 875px) {
  .navbar {
    justify-content: flex-start;
  }
}
