$border-light: 1px solid #ddd;
$large: 2vw;
$mg-sm: 2vw;
$lite: #aaa;
$header-font: "Raleway", sans-serif;
$pink-light: #ffa5de;
$pink-dark: #894b72;
$danger: #ff5959;

//Mixins

@mixin basic-btn {
  ouline: none;
  border: none;
  background: transparent;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//GLOBAL STYLES

body {
  height: 100%;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: $lite;
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

//NAVBAR

.navbar {
  display: flex;
  justify-content: center;
  border: $border-light;
  width: 100vw;
  margin-bottom: 5vh;
  padding: 1.5vw;
  background-color: #333;

  h1 {
    font-size: 3vw;
    color: $lite;
  }

  div {
    position: absolute;
    right: 0;
  }

  a {
    color: $lite;
    &:hover {
      color: $pink-light;
    }
  }

  ul {
    position: absolute;
    right: 0;
    text-decoration: none;
  }

  li {
    display: inline;
    text-align: right;
    text-decoration: none;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 8vw;
    height: 90%;
    margin: 3px 6px 0 0;
    cursor: pointer;
  }
}

#facetune-title {
  font-family: "Norican", cursive;
  color: $pink-light;
  margin-right: 0.5vw;
}
#fails-title {
  font-family: "Permanent Marker", cursive;
  color: $pink-dark;
}

.navlink {
  margin: 2vw;
}

.dropbar {
  z-index: 1;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #555;
  border-radius: 3px;
}

.dropdown-container {
  position: relative;
  top: 42px;
  width: 25%;
  opacity: 0;
  transition: all 0.4s;

  li {
    background: #fff;
    width: 100%;
    display: block;
    border: $border-light;
    margin: 2px 0;
    padding: 1vw;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.dropdown-shown {
  opacity: 1;
  transition: all 0.4s;
}

.dropdown-container li:first-child {
  border-top: none;
}

.hidden {
  opacity: 0;
  transition: transform 0.4s;
}

.bar-1-open {
  transform: translate(0px, 300%) rotate(45deg);
  transition: all 0.4s;
  background: $pink-light;
}
.bar-3-open {
  transform: translate(0px, -250%) rotate(-45deg);
  transition: all 0.4s;
  background: $pink-light;
}

//FORMS

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 1vh;
  border-radius: 20px;
}

.form-check {
  margin: 1.5vw;
  position: relative;
  transform: translateX(50%);
}

.form-btn {
  display: block;
  border: $border-light;
  border-radius: 20px;
  width: 20vw;
  color: white;
  background: #222;
  transform: translateX(10px);
  &:hover {
    background: white;
  }
}

//LOGIN & REGISTER

.login-reg-container {
}

//POSTS

.post {
  border-bottom: $border-light;
}

.post-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15vh;
}

.large {
  margin: $mg-sm 0;
}

.post-body {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }

  h2 {
    margin-top: 1.5vh;
  }
}

.post-body-open {
  // background: pink;
  width: 75%;
  margin-bottom: 20vh;
}

.new-post {
  margin: 10vh 0 15vh;
  width: 80%;
}

.blog-text {
  width: 80%;
  white-space: pre-wrap;
  font-family: Georgia, serif;
  font-size: 16px;
}

.header-link {
  width: max-content;
}

.post-header {
  color: $lite;
  cursor: pointer;
  text-emphasis: none;
  text-decoration: none;
  &:hover {
    color: #000;
  }
}

.post-header-open {
  font-size: 24px;
  margin-bottom: 3vh;
  font-family: $header-font;
}

.post-details {
  color: $lite;
}

.post-img-link {
  display: flex;
  justify-content: center;
  margin: 3vh;
}

.post-img {
  width: 100%;
}

.post-img-open {
  width: 75%;
}

.post-text {
  margin: $mg-sm;
  color: #000;
  font-family: Georgia, serif;
}

.score-container {
  text-align: center;
  text-decoration: none;
  margin: 12vh 0 15vh 0;
  padding: 5vh 0 10vh 0;
  border-bottom: 1px solid $lite;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.scores-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.score-btn {
  width: 2vw;
  height: 5vh;

  cursor: pointer;
  opacity: 0;
  z-index: 1;
  padding: 2vw;
  &:checked ~ .rd-selected {
    background: $pink-light;
  }
  &:checked ~ .rd-selected:after {
    display: block;
  }
  &:active ~ .rd-selected {
    background: $pink-dark;
    transform: scale(0.9);
    transition: all 0.5s;
  }
}

.rd-selected {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vw;
  width: 6vw;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #ccc;
  &:hover {
    background: #ccc;
    border: 1px solid #eee;
  }
}

.score-label {
  z-index: 1;
  font-family: "Permanent Marker", cursive;
  font-size: 2vw;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-btn {
  border: $border-light;
  border-radius: 15px;
  margin: $mg-sm;
  padding: 1vw 2vw;
  font-size: 16px;
  color: $lite;
}

#next-btn {
  display: flex;
  justify-self: flex-end;
}

.new-edit-btn {
  transform: translateY(-10px);
}

.btn-edit-delete {
  margin: 3vw;
}

//COMMENTS

.comment-item {
  width: 100%;
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
}

.comment-header {
  font-family: $header-font;
  display: flex;
  justify-content: space-between;
  color: #000;

  p {
    font-family: $header-font;
    margin: 0 1vw 0 0;
  }
}

.date {
  font-size: 14px;
}

.user-text {
  display: flex;
  flex-direction: column;
}

.post-btn-container {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-240%);
  z-index: 1;
}

.post-btn {
  @include basic-btn();
  width: 5%;
  padding: 0;
}

.comment-text {
  color: #555;
  font-family: Georgia, serif;
}

.comment-area {
  // max-height: 10vh;
  // overflow: auto;
  // min-height: 3vh;
  // max-height: 10vh;
}

.reply-area {
}

.heart-btn {
  @include basic-btn();
}

.fa-heart {
  color: $pink-light;
}

.fa-times {
  &:hover {
    color: $pink-light;
  }
}

.delete-btn {
  @include basic-btn();
}

//SUBCOMMENTS

.sub-comment-list {
  border-left: $lite 1px solid;
}

.sub-comment-item {
}

.sub-comment-container {
  padding: 1vw;
}

.show-hide-btn {
  @include basic-btn();
}

#comment-btn {
  transform: translate(0%, -150%);
}
#reply-btn {
  transform: translate(0%, -150%);
}

//FOOTER

footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: $border-light;
  background: #fff;

  p {
    margin: $mg-sm;
    color: $lite;
    &:hover {
      color: #000;
      cursor: pointer;
    }
  }
}

//ALERTS

.alert {
  width: 100%;
  border-radius: 20px;
  position: fixed;
}

.alert-danger {
  background: $danger;
}

.error-input {
  border: solid 1px $danger;
}

//***************MEDIA QUERIES******************

//iPhone 10
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .navbar h1 {
    margin: 1vh 1vh 1vh -1vh;
    padding: 2vw;
    font-size: 5vw;
  }

  .navlink {
    font-size: 4vw;
  }
  .post-container {
    // margin-top: 4vh;
    // width: 100%;
    // margin-left: 1vw;
    margin: 3vh 1vw;
  }

  .post {
    padding: 3vw;
  }

  .post-body-open {
    width: 100%;
  }

  .post-header {
    font-size: 6vw;
  }
  .post-details {
    font-size: 4vw;
  }

  .post-img {
    width: auto;
    max-height: 300px;
    height: auto;
  }

  .post-btn {
    width: 20%;
  }

  #comment-btn {
    transform: translate(0%, -220%);
  }
  #reply-btn {
    transform: translate(0%, -220%);
  }

  .post-text {
    font-size: 16px;
  }

  .score-container {
    width: 100%;
    margin: 5vh 0 5vh 0;
  }

  .score-btn {
  }

  .rd-selected {
    height: 8vw;
    width: 8vw;
  }

  .score-label {
    font-size: 5vw;
  }

  .dropdown {
    margin-right: 5vw;
    width: 12vw;
    // background: red;
    height: 60%;
  }

  .dropdown-container {
    top: 68px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    padding: 0;
  }
  #facetune-title {
    font-size: 5vw;
    margin-right: 1vw;
  }
  #fails-title {
    font-size: 5vw;
  }
  .post-container {
    width: 100%;
  }

  .post {
    padding: 5vw;
  }

  .post-header {
    font-size: 6vw;
  }

  .post-details {
    font-size: 4vw;
  }

  .post-img {
    width: 80%;
  }
  .post-btn {
    width: 15vw;
  }

  .score-container {
    text-align: center;
    margin-right: 5vw;
  }

  .rd-selected {
    padding: 5vw;
  }

  .score-btn {
    margin: 3vw;
  }

  .score-label {
    font-size: 5vw;
  }
  #comment-btn {
    transform: translate(0%, -150%);
  }
  #reply-btn {
    transform: translate(0%, -150%);
  }

  .bar-1-open {
    transform: translate(0px, 350%) rotate(45deg);
  }
  .bar-3-open {
    transform: translate(0px, -250%) rotate(-45deg);
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    padding: 0;
  }
  #facetune-title {
    font-size: 5vw;
    margin-right: 1vw;
  }
  #fails-title {
    font-size: 5vw;
  }
  #comment-btn {
    transform: translate(3%, -150%);
  }
  #reply-btn {
    transform: translate(3%, -150%);
  }

  .bar-1-open {
    transform: translate(0px, 380%) rotate(45deg);
  }
  .bar-3-open {
    transform: translate(0px, -250%) rotate(-45deg);
  }
}

//iPhone 5

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  .container {
    padding: 0;
  }
  #facetune-title {
    font-size: 5vw;
    margin-right: 1vw;
  }
  #fails-title {
    font-size: 5vw;
  }

  .post-container {
    width: 100%;
  }

  .post {
    padding: 6vw;
  }

  .post-header {
    font-size: 6vw;
  }

  .post-details {
    font-size: 4vw;
  }

  .post-img {
    width: 100%;
  }

  .form-btn {
    width: 35vw;
  }

  .score-container {
    text-align: center;
    width: 100%;
  }

  .rd-selected {
    padding: 5vw;
  }

  .score-btn {
    margin: 3vw;
  }

  .score-label {
    font-size: 5vw;
  }

  .reply-area {
    width: 100%;
  }

  .post-btn-container {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-200%);
    z-index: 1;
  }
  .post-btn {
    width: 20vw;
  }

  #comment-btn {
    transform: translate(5%, -150%);
  }
  #reply-btn {
    transform: translate(5%, -150%);
  }

  .bar-1-open {
    transform: translate(0px, 320%) rotate(45deg);
  }
  .bar-3-open {
    transform: translate(0px, -250%) rotate(-45deg);
  }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .container {
    padding: 0;
  }
  #facetune-title {
    font-size: 5vw;
    margin-right: 1vw;
  }
  #fails-title {
    font-size: 5vw;
  }
  .post-container {
    width: 100%;
  }

  .post {
    padding: 5vw;
  }

  .post-header {
    font-size: 4vw;
  }
  .post-details {
    font-size: 4vw;
  }

  .post-img {
    width: 100%;
  }
  .score-container {
    text-align: center;
    width: 100%;
  }

  .rd-selected {
    padding: 5vw;
  }

  .score-btn {
    margin: 3vw;
  }

  .score-label {
    font-size: 5vw;
  }
  .bar-1-open {
    transform: translate(0px, 350%) rotate(45deg);
  }
  .bar-3-open {
    transform: translate(0px, -250%) rotate(-45deg);
  }
}

// @media screen and (min-device-width: 751px) {
//   .bar-1-open {
//     transform: translate(0px, 350%) rotate(45deg);
//   }
//   .bar-3-open {
//     transform: translate(0px, -250%) rotate(-45deg);
//   }
// }

//IPAD

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .post-img {
    width: 100%;
  }

  .post-header {
    font-size: 4vw;
  }
  .post-details {
    font-size: 2vw;
  }

  .post-text {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 875px) {
  .navbar {
    justify-content: flex-start;
  }
}
